<%= simple_form_for @investment, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :startup_id %>
  <%= f.input :vcmoney %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                investments_path, :class => 'btn' %>
  </div>
<% end %>
