


<div class="row-fluid">


	
	<div class="span3">

      <ul class="nav nav-list" style="background-color:#f5f5f5;">
        <li class="nav-header">Database</li>
        <li ><%= link_to "Startups", 'startups' %></li>
        <li><%= link_to "Profiles", 'profiles' %></li>
        <li><%= link_to "Members", 'members' %></li>
        <li><%= link_to "Investments", 'investments' %></li>
        <li> <%= link_to " Recargar a todos  ",  :controller => :administration , :action => :plata  %></li>
       </ul> 
	

	<div class="span9">	

	</div>	
</div>	