

<%= simple_form_for @startup do |f|  %>



  <%= f.input :name %><br><br>
  <%= f.input :video %><br><br>
  <%= f.input :description %><br>
  <%= f.input :website %><br><br>


 * Stage<br>
 <%= f.select(:stage, [["Concept"], ["Working prototype in development"], ["Functional Product with Users"], ["Scaling Sales"]] )  %><br><br>
  * Category<br>
  <%= f.select(:category, [["Consulting"], ["E-commerce"], ["Education"], ["Energy & Clean Tech"] , ["Finance"], ["Healthcare & Biotechnology"], ["IT & Enterprise Software"], ["Import/Export"],["Mobile & Wireless"],["Natural Resources - mining, food, lumber, etc, "], ["Media"] , ["Social Enterprise"], ["Social Media/Social Network"], ["Tourism"], ["Sorry, we do not fit into any category above"]] ) %> <br><br>
  <%= f.input :country %><br><br>
  <%= f.input :revenue %><br><br>
  <%= f.input :semail %><br><br>

 <label > Upload Photo</label>
<%= f.file_field :avatar ,  :class => "btn"  %>


 <br>
 <br>
 <br>

    




<%= f.button :submit , :class => 'nice small radius blue button' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                startups_path, :class => 'button' %>

  <% end %>