<div class="container">
  

  <div class="row-fluid">

    
    <div class="span8">

        <div class="row">

          <div class="span2"> 
            <img src= <%= @startup.avatar_url%> style="width:100px;height:100px;">
          </div>  
          <div class="span10">  
            <h1 style="color:#0088cc;"><%= @startup.name%></h1>
            <p style="color:#0088cc;"><%= @startup.category%> &nbsp;&nbsp;<i class="icon-home"></i>&nbsp;&nbsp; <%= @startup.country%> </p>
          </div>  

        </div><!-- fin del row de head del span8-->

        <div class="row">
          <br>
          <iframe src="http://player.vimeo.com/video/<%= @startup.video %>" width="100%" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <br>


          <ul class="nav nav-tabs">
            <li><a href="#home" data-toggle="tab"><h4 style="color:#0088cc;">Startup Pitch</h3>
            </a></li>
            <li><a href="#profile" data-toggle="tab"><h4 style="color:#0088cc;">Members</h3></a>
            </li>
            
          </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home"><%= @startup.description %> </div>
            <div class="tab-pane" id="profile"><%= render @startup.members %></div>
            
          </div>

          <H3>_________________________________________________________</H3>

          <h4 class="subheader"> FeedBack </h4>
   
            <%= render @startup.comments %> <br>
  

          <% if signed_in? %>
           <h4 class="subheader"> Comment </h4>
           
            <%= form_for([ @startup, @startup.comments.build]) do |f| %>
  
            <%= f.hidden_field :commenter , :value => current_user.email  %>
  

            <%= f.text_area :body , :style=>"height:74px;width:534px;"%>
            <%= f.hidden_field :startup_id , :value => @startup.id  %><br> 
  
   
            <%= f.button :submit , :class => 'btn' , :id =>"Comment" %>
  
            <% end %> <!--fin del form -->

             <%end%><!--fin del if -->




         </div> <!-- fin del contenido-->

    </div>

    <div class="span4">

        Idea: <%= rating_for @startup, "idea" %>
               Website : <%= rating_for @startup, "website" %>
               Logo : <%= rating_for @startup, "logo" %>


    </div>






  </div> <!-- fin del row de todo el contenido-->
</div> <!-- fin del container-->



