




<div class="container">

<div class="row-fluid">  

    
    
        

        <div class="span4"><h1 class="subheader"><strong>&nbsp;<%= @startup.name %>&nbsp;</strong></h1></div>

        <div class ="span7">
          <center>
          <h3 class="subheader"><%= @startup.category %> / <%= @startup.country %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></center> </div>

        <div class="span1"></div>

      

</div> <!-- fin del row header -->




<div class="row" >
    <br><br>
   

  <div class="span4" >



    <% if @startup.avatar? %>   

    <%= image_tag(@startup.avatar_url , :style=>"height:200px; width:300px;")     %> <br>

      <% else %>

     <%= image_tag "http://1.bp.blogspot.com/_XMM7tFwUIT8/TDphHpHSZCI/AAAAAAAAAFA/tAlDFDODwKI/s1600/29.jpg" , :size=>"200x200"%>

    <% end %>


      <!-- boton de invertir en ella -->


      <%= link_to "Invest here " , new_startup_investment_path(@startup),:class=>"btn " %>


  <h4 class="subheader"><u>About</u></h4>
  <h5 class="subheader">
  " <%= @startup.description %> "
  </h5> <br> 
  <h4 class="subheader"><u>Web </u></h4>
  <h5 class="subheader"><a href ="http://<%= @startup.website %>"><%= @startup.website %></a></h5>

  <h4 class="subheader"><u>Contact </u></h4>
  <h5 class="subheader"><%= @startup.semail %></h5>
 
 <h4 class="subheader"><u>Members </u></h4>
 <%= render @startup.members %>
 <br>&nbsp;

</div>


<div class="span1"></div>




<div class="span7">



   <iframe src="http://player.vimeo.com/video/<%= @startup.video %>" width="100%" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

   <br>

   <center><h4 class="subheader">VC Money raised :<%= @startup.vmoney %> </h4></center>



 <!--<h4 class="subheader">Comments</h4>-->
  <br>
  <h4 class="subheader"> FeedBack </h4>
   
  <%= render @startup.comments %> <br>
  

 
  <h4 class="subheader"> Comment </h4>
  <% if signed_in? %>
  <%= form_for([@startup, @startup.comments.build]) do |f| %>
  
    <%= f.hidden_field :commenter , :value => current_user.email  %>
  

      <%= f.text_area :body , :style=>"height:74px;width:534px;"%>
      <%= f.hidden_field :startup_id , :value => @startup.id  %><br> 
  
   
      <%= f.button :submit , :class => 'btn' , :id =>"Comment" %>
  
  <% end %> <!--fin del form -->

  <%end%><!--fin del if -->


</div>




</div> <!-- fin del div main -->





</div>



