
<div class="row">



<%= simple_form_for([@startups, @startups.activities.build]) do |f| %>
 
 <div class="one colummn">
 <%= f.input :name  %>
 </div>
<div class="one colummn">
 <%= f.input :day %>
</div>
<div class="one colummn">
 <%= f.input :description  %>
 </div>

 <%= f.button :submit, :class => 'nice small radius blue button'  %>
 
 <% end %>





</div>