<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rate.user %>
</p>

<p>
  <b>Startup:</b>
  <%= @rate.startup %>
</p>

<p>
  <b>Name:</b>
  <%= @rate.name %>
</p>

<p>
  <b>Website:</b>
  <%= @rate.website %>
</p>

<p>
  <b>Video:</b>
  <%= @rate.video %>
</p>

<p>
  <b>Logo:</b>
  <%= @rate.logo %>
</p>

<p>
  <b>Text:</b>
  <%= @rate.text %>
</p>

<p>
  <b>Idea:</b>
  <%= @rate.idea %>
</p>


<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
